<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Public Stories</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/users/logout">Logout</a>
</div>

<!-- Use any element to open the sidenav -->
<div class="container-fluid bg-dark">
    <div class="d-flex justify-content-between">
        <div class="my-3"><button onclick="openNav()" style="transform: scale(1.5);"><i
                    class="fas fa-bars"></i></button></div>

        <div class="text-center">
            <h1 style="color: white;">Dashboard</h1>
        </div>
        <div class="bg-dark"> &nbsp; &nbsp; &nbsp;</div>
    </div>
</div>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you
only want the sidenav to sit on top of the page -->
<div id="main" style="background: whitesmoke">
    <div class="container">
        <h1>Add Story</h1><br>

        <form action="/stories" method="POST">
            <div class="form-group">
                <label for="title" style="font-size: 26px !important;">Title</label>
                <input type="text" class="form-control" placeholder="Add story title" id="title" name="title">
            </div>
            <br>
            <div class="form-group">
                <label for="status" style="font-size: 26px !important;">Status</label>
                <select data-style="btn-primary" class="selectpicker show-tick form-control" id="status" name="status">
                    <option data-icon="fa fa-users" value="public">Public</option>
                    <option data-icon="fas fa-user-lock" value="private">Private</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label style="font-size: 26px !important;">Talk about your story:</label>
                <textarea name="body" id="body" class="form-control"></textarea>
            </div>

            <button type="submit" class="btn btn-success btn-lg">Submit</button>
            <a href="/dashboard" class="btn btn-danger btn-lg">Cancel</a>
        </form>
    </div>

</div>