<div class="row">
    <div class="col-md-6 m-auto">
        <div class="text-center my-5">
            <h1>Stories Node.js App</h1>
            <p>by Ahmad Tarabein</p>
            <h1 style="margin-top: -5px;"><i class="fas fa-book" style="color: black"></i>
            </h1>
            <h2>Email Login</h2>

            <% if(success_msg != ""){ %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%= success_msg %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } %>

            <% if(error != ""){ %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= error %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } %>

            <div class="my-3">
                <form action="/users/login" method="POST">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="far fa-envelope"></i></span>
                        </div>
                        <input type="email" class="form-control" placeholder="Email" aria-label="Username"
                            aria-describedby="basic-addon1" id="email" name="email">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Password" aria-label="Username"
                            aria-describedby="basic-addon1" id="password" name="password">
                    </div>


                    <button class="btn btn-success btn-lg" type="submit" style="width: 40%;">Login</button>
                </form>
                <div class="border my-2 border-dark" style="border-width: 2px !important;"></div>
                <div class="my-1">
                    <a href="/" style="color: white; font-size: large !important;">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>