<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/stories">Public Stories</a>
    <a href="/dashboard">My Stories</a>
    <a href="/users/logout">Logout</a>
</div>

<!-- Use any element to open the sidenav -->
<div class="container-fluid bg-dark">
    <div class="d-flex justify-content-between">
        <div class="my-3"><button onclick="openNav()" style="transform: scale(1.5);"><i
                    class="fas fa-bars"></i></button></div>

        <div class="text-center">
            <h1 style="color: white;"></h1>
        </div>
        <div class="bg-dark"> &nbsp; &nbsp; &nbsp;</div>
    </div>
</div>


<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="display-4">Ahmad Story one</h1>
                <br>
                <div class="border rounded shadow-sm p-2">
                    <p style="font-size: 24px;">May 7 2020, 5:20:10 PM</p>
                    <p
                        style="font-size: 18px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                        Lorem ipsum dolor sit amet consectetur,
                        adipisicing elit. Dolorem
                        facilis aut optio quas, neque
                        ducimus velit corporis et distinctio ratione dolores odit iure iusto. Consequuntur doloremque
                        voluptatem qui commodi quibusdam?</p>
                </div>
            </div>
            <div class="col-md-4 my-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Ahmad Tarabain</h5>

                        <div class="text-center"><img
                                src="https://lh3.googleusercontent.com/a-/AOh14Gj07ovBA5rvPW7w90kJll5j3_oqFbc1hpADM4F91w"
                                alt="user image" class="rounded-circle img-fluid"
                                style="height: 170px !important; width: 170px !important;">
                        </div>
                        <hr>
                        <div class="text-center h5"><a href="#">More from Ahmad</a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>