<div class="row">
    <div class="col-md-6 m-auto">
        <div class="text-center my-5">
            <h1>Stories Node.js App</h1>
            <a href="https://github.com/ahmadbenos/node-story-books" style="color: wheat;">
                <h6>View code/repository on github <i class="fab fa-github"></i></h6>
            </a>
            <p>by Ahmad Tarabein</p>
            <h1 style="margin-top: -5px;"><i class="fas fa-book" style="color: black"></i>
            </h1>
            <div class="my-3">
                <div><a href="/auth/google" class="btn btn-danger btn-lg btn-block"><i class="fab fa-google left"></i>
                        Login with
                        google</a>
                </div>
                <h5 class="my-1">Or</h5>
                <div class="my-2"><a href="/users/login" class="btn btn-success btn-lg btn-block"><i
                            class="far fa-envelope left"></i>
                        Login with
                        Email</a>
                </div>
                <div class="border  border-dark" style="border-width: 2px !important;"></div>
                <div class="my-1">
                    <a href="/users/register" style="color: white; font-size: large !important;">Don't have an account?
                        Register
                        Now!</a>
                </div>

            </div>

        </div>



    </div>
</div>